.modal-bg {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: #5e3824; padding: 2em; border-radius: 15px; min-width: 340px; text-align: left;
}
.modal-box label { display: block; margin: 1.2em 0 .7em 0; }
.modal-box input, .modal-box select { width: 100%; padding: .7em; border-radius: 6px; margin-top: .2em; }
.main-btn { margin-top: 1.2em; width: 100%; }
